.hidden
{
	display: none;
}

@font-face
{
	font-family: prompt;
	src: url('./font/SVBasicManual.ttf');
}

h4
{
	font-family: prompt;
	font-size: 2.3em;
}

#englobe
{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}

#player_button
{
	height: 50%;
	width: 50%;
	position: fixed;
}

#play_button
{
	background-image: url(img/play.png);
	background-repeat: no-repeat;
	height: 100%;
	background-size: 40%;
	background-position: center;
}

#pause_button
{
	background-image: url(img/pause.png);
	background-repeat: no-repeat;
	height: 100%;
	background-size: 40%;
	background-position: center;
}

#round
{
	pointer-events: none;
	background-image: url(img/round.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: 40%;
	background-position: center;
	position: fixed;

	-webkit-animation: rotate 60s infinite linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}
