.hidden
{
	display: none;
}

@font-face
{
	font-family: prompt;
	src: url('./font/SVBasicManual.ttf');
}

h4
{
	font-family: prompt;
	font-size: 2.3em;
}

#englobe
{
	position: fixed;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.71);
}

#player_button
{
	height: 50%;
	width: 50%;
	position: fixed;
}

#play_button
{
	background-image: url(img/play.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: 25%;
	background-position: center;
	position: fixed;
}

#pause_button
{
	background-image: url(img/pause.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: 18%;
	background-position: center;
	position: fixed;
}

#round
{
	pointer-events: none;
	background-image: url(img/round.png);
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background-size: 40%;
	background-position: center;
	position: fixed;

	-webkit-animation: rotate 60s infinite linear;
	-webkit-animation-play-state: paused;
	-moz-animation: rotate 60s infinite linear;
	-moz-animation-play-state: paused;
	animation: rotate 60s infinite linear;
	animation-play-state: paused;
}

#wait
{
	height: 200px;
	width: 300px;
	background-color: white;
	margin-top: 50%;
	margin-left: 50%;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotate {
  from {
    -moz-transform: rotate(0deg);
  }
  to { 
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to { 
    transform: rotate(360deg);
  }
}
